.highcharts-tooltip {
  margin: 0.2em 0;
}

.parties-group {
  background-color: #2e3436 !important;
  justify-content: center;
}

.particularsTrade-group {
  background-color: #272c2e !important;
}

.ag-details-row {
  padding: calc(var(--ag-grid-size) * 1) !important;
  /* background-color: var(--ag-background-color); */
}

.ag-strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
  color: gray;
}


.ag-header-group-cell .ag-header-cell-comp-wrapper {
  display: flex;
  justify-content: center;
}